<mat-toolbar color="primary" class="header-toolbar">
  <div class="logo-container">
    <button mat-icon-button (click)="navigateTo('')">
      <mat-icon>dashboard</mat-icon>
    </button>
    <span class="logo-text">Conference CMS</span>
  </div>
  
  <div class="nav-links">
    <button mat-button (click)="navigateTo('search')">
      <mat-icon>search</mat-icon>
      Search
    </button>
    <button mat-button (click)="navigateTo('upload')">
      <mat-icon>cloud_upload</mat-icon>
      Upload
    </button>
    <button mat-button (click)="navigateTo('analytics')" *ngIf="authService.isAdmin()">
      <mat-icon>analytics</mat-icon>
      Analytics
    </button>
  </div>
  
  <span class="spacer"></span>
  
  <div class="user-actions">
    <ng-container *ngIf="authService.isLoggedIn(); else loginButton">
      <span class="user-name">{{ authService.getCurrentUser()?.displayName }}</span>
      <button mat-button [matMenuTriggerFor]="userMenu">
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #userMenu="matMenu">
        <button mat-menu-item (click)="navigateTo('profile')">Profile</button>
        <button mat-menu-item (click)="logout()">Logout</button>
      </mat-menu>
    </ng-container>
    
    <ng-template #loginButton>
      <button mat-raised-button color="accent" (click)="authService.login()">
        Sign In
      </button>
    </ng-template>
  </div>
</mat-toolbar> 