flask==2.3.3
flask-cors==4.0.0
firebase-admin==6.4.0
google-cloud-firestore>=2.20.1
google-cloud-storage>=2.19.0
google-cloud-aiplatform>=1.85.0
vertexai==0.0.1
python-dotenv==1.0.0
numpy>=2.2.4
pypdf==3.17.1
Pillow>=11.0.0
python-pptx>=1.0.2
gunicorn==21.2.0 