/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
}

.mat-typography h1 {
  margin: 0 0 16px;
}

.container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
} 